@import 'tailwindcss';

* {
  transition: all 0.3s ease-in-out;
}

body {
  font-family: 'Gilroy', sans-serif;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.scrollbar-hide {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}
.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}
